.h1{
    text-align: center;
    margin-top: 10vh;
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-style: normal;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
}
.pwdedit{
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
}
.inner{
    margin-bottom: 5vh;
}
