<!--
 * @Author: your name
 * @Date: 2021-01-05 20:23:04
 * @LastEditTime: 2021-01-12 06:27:25
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \2011cw2\app\templates\passwordedit.html
-->
{% extends "base.html" %}


{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/passwordedit.css')}}">
{% endblock %}

{% block content %}
<div class="h1">Password Edit</div> 
{% for msg in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  {{ msg }}
</div>
{% endfor %}
<form action="" method="post" name="pwdedit">
<div class="pwdedit col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2">
   
        <div id="username" class="inner">
            <p>Please input your username:</p><input type="text" name="uname">
        </div>
        <div id="oldpassword" class="inner">
            <p>Please input your old password:</p><input type="password" name="opwd">
        </div>
        <div id="newpassword" class="inner">
            <p>Please input your new password:</p><input type="password" name="npwd">
        </div>
        <div id="confirmpassword" class="inner">
            <p>Confirm your new password:</p><input type="password" name="cpwd">
        </div>
        <div id="editbutton"><input type="submit" value="Edit password"></div>
    
</div>
</form>
{% endblock %}